/*------------------------------- CSS definitions -------------------------------*/
:root {
  /* Colors */
  --primary-color-1: hsl(47, 88%, 63%);
  --neutral-color-1: hsl(0, 0%, 7%);
  --neutral-color-2: hsl(0, 0%, 42%);
  --neutral-color-3: hsl(0, 0%, 100%);
  --neutral-color-4: hsl(0, 0%, 0%);

  /* Typography */
  --font-size-1: 0.75rem; /* 12px */
  --font-size-2: 0.875rem; /* 14px */
  --font-size-3: 1rem; /* 16px */
  --font-size-4: 1.25rem; /* 20px */
  --font-size-5: 1.5rem; /* 24px */

  --line-height-1: 150%;

  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Spacing */
  --spacing-1: 0.75rem; /* 12px */
  --spacing-2: 1.5rem; /* 24px */

  /* Border-width */
  --border-width-1: 0.0625rem; /* 1px */

  /* Border radius */
  --border-radius-1: 0.25rem; /* 4px */
  --border-radius-1: 0.625rem; /* 10px */
  --border-radius-1: 1.25rem; /* 20px */

  /* Shadows */
  --shadow-1: 0.5rem 0.5rem 0rem 0rem var(--neutral-color-4);
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/*--------------------------------- CSS reset ---------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Avoid text overflows */
h1,
h2,
p {
  overflow-wrap: break-word;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

/*------------------------------- Main stylings -------------------------------*/
